[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
sysinfo.txt

# OS-specific
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/